In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

os.chdir('/Users/joshwinnes/Library/Mobile Documents/com~apple~CloudDocs/Wheaton College/fall 2024/topics in data science/data')
df = pd.read_csv('OCC data - all items.csv')

df

,item_id,item_name,item_class,item_type,amount_per_box,in_stock,gender,2-4,5-9,10-12,Unnamed: 10
0,1,sticker_sheet,small,school,1,65,both,True,True,True,NaN
1,2,matchbox_cars_pack,medium,toy,1,10,boy,False,True,True,NaN
2,3,washcloth,medium,clothing,1,30,both,True,True,True,NaN
3,4,notebook,large,school,1,20,both,False,True,True,NaN
4,5,foam_ball,large,toy,1,5,boy,True,True,True,NaN
5,6,english_spanish_flashcards,medium,school,1,5,both,False,True,False,NaN
6,7,drawstring bag,large,school,1,10,boy,False,False,True,NaN
7,8,coloring_tool_pack,medium,school,1,39,both,False,True,True,NaN
8,9,dixon_pencil,small,school,2,40,both,False,True,True,NaN
9,10,fun_pencil,small,school,1,72,both,False,True,True,NaN
10,11,eraser,small,school,1,98,both,False,True,True,NaN
11,12,pencil_sharpener,small,school,1,50,both,False,True,True,NaN
12,13,hair_ties,small,clothing,7,220,girl,True,True,True,NaN
13,14,fuzzy_socks,large,clothing,1,17,girl,False,True,True,NaN
14,15,pom_poms,medium,toy,1,5,girl,False,True,False,NaN
15,16,keychain_animal,medium,toy,1,15,girl,False,True,True,NaN
16,17,fan,medium,toy,1,6,girl,False,True,True,NaN
17,18,teddy_bear,large,toy,1,14,girl,True,True,False,NaN
18,19,toothbrush,small,clothing,1,10,both,True,True,True,NaN
19,20,sunglasses,small,clothing,1,5,both,False,True,True,NaN
20,21,play_dough,medium,toy,1,20,both,False,True,False,NaN
21,22,glow_squeeze_ball,medium,toy,1,10,both,True,True,False,NaN
22,23,squishy_foam_animal,large,toy,1,9,girl,True,True,False,NaN
23,24,head_bands_single,medium,clothing,1,29,girl,True,True,True,includes snap clips and bobby pins
24,25,baby_dolls,large,toy,1,5,girl,True,True,False,NaN
25,26,combs,medium,clothing,1,36,both,True,True,True,NaN
26,27,foam_football,large,toy,1,10,boy,False,True,True,NaN
27,28,rubber_spiky_ball,large,toy,1,2,both,False,True,True,NaN

In [2]:
df.groupby(['item_class', 'gender'])['in_stock'].sum()

item_class  gender
large       both       22
            boy        25
            girl       45
medium      both      140
            boy        10
            girl       55
small       both      340
            girl      220
Name: in_stock, dtype: int64

### **packing rules**

**Boy Boxes**

Looking to fill 20 boxes
- 1 Large item
- 3 medium items
- standard small items:
    - 2-3 pencils
    - 2 erasers
    - 1 sharpener
    - sheet of stickers

**Girl Rules**

Looking to fill 30 boxes
- 2 Large items
- 2 medium items
- standard small items:
    - 2-3 pencils
    - 2 erasers
    - 1 sharpener
    - sheet of stickers

In [3]:
df_small = df.query('item_class == "small"')
df_small['amount_per_box'] = df_small['in_stock']/50
df_small

/var/folders/99/6591xgpn4sq1ypfgnrzy_7n80000gn/T/ipykernel_97641/2636681736.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_small['amount_per_box'] = df_small['in_stock']/50

,item_id,item_name,item_class,item_type,amount_per_box,in_stock,gender,2-4,5-9,10-12,Unnamed: 10
0,1,sticker_sheet,small,school,1.30,65,both,True,True,True,NaN
8,9,dixon_pencil,small,school,0.80,40,both,False,True,True,NaN
9,10,fun_pencil,small,school,1.44,72,both,False,True,True,NaN
10,11,eraser,small,school,1.96,98,both,False,True,True,NaN
11,12,pencil_sharpener,small,school,1.00,50,both,False,True,True,NaN
12,13,hair_ties,small,clothing,4.40,220,girl,True,True,True,NaN
18,19,toothbrush,small,clothing,0.20,10,both,True,True,True,NaN
19,20,sunglasses,small,clothing,0.10,5,both,False,True,True,NaN

In [4]:
df_medium = df.query('item_class == "medium"')
df_medium

,item_id,item_name,item_class,item_type,amount_per_box,in_stock,gender,2-4,5-9,10-12,Unnamed: 10
1,2,matchbox_cars_pack,medium,toy,1,10,boy,False,True,True,NaN
2,3,washcloth,medium,clothing,1,30,both,True,True,True,NaN
5,6,english_spanish_flashcards,medium,school,1,5,both,False,True,False,NaN
7,8,coloring_tool_pack,medium,school,1,39,both,False,True,True,NaN
14,15,pom_poms,medium,toy,1,5,girl,False,True,False,NaN
15,16,keychain_animal,medium,toy,1,15,girl,False,True,True,NaN
16,17,fan,medium,toy,1,6,girl,False,True,True,NaN
20,21,play_dough,medium,toy,1,20,both,False,True,False,NaN
21,22,glow_squeeze_ball,medium,toy,1,10,both,True,True,False,NaN
23,24,head_bands_single,medium,clothing,1,29,girl,True,True,True,includes snap clips and bobby pins
25,26,combs,medium,clothing,1,36,both,True,True,True,NaN

In [5]:
df_large = df.query('item_class == "large"')
df_large

,item_id,item_name,item_class,item_type,amount_per_box,in_stock,gender,2-4,5-9,10-12,Unnamed: 10
3,4,notebook,large,school,1,20,both,False,True,True,NaN
4,5,foam_ball,large,toy,1,5,boy,True,True,True,NaN
6,7,drawstring bag,large,school,1,10,boy,False,False,True,NaN
13,14,fuzzy_socks,large,clothing,1,17,girl,False,True,True,NaN
17,18,teddy_bear,large,toy,1,14,girl,True,True,False,NaN
22,23,squishy_foam_animal,large,toy,1,9,girl,True,True,False,NaN
24,25,baby_dolls,large,toy,1,5,girl,True,True,False,NaN
26,27,foam_football,large,toy,1,10,boy,False,True,True,NaN
27,28,rubber_spiky_ball,large,toy,1,2,both,False,True,True,NaN